	body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #12131a;
	text-align: left;
	background-color: #f3f3f3;
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn,
	.ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard>.actions a
	{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

/* body{
	background-color: #f1f3f6;
	font-size: 14px;
	font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-family: 'Roboto', sans-serif;
} */
.container-wrapper {
    /*background: linear-gradient(to bottom,rgba(0, 0, 0, 0.4) 0,rgba(0, 0, 0, 0.8) 100%),url(../images/banner2.jpeg);*/
    background-size: cover;
    background-attachment: fixed;
}
a.navbar-brand.js-scroll-trigger {
    /* background: url(../images/logo.png); */
    width: 90px;
    display: inline-block;
    height: 55px;
    /* padding-left: 90px; */
    padding-top: 10px;
}
#mainContent {
    padding: 90px 0 20px 0;
    min-height: calc(100vh - 53px);
}
.bg-white-shadow{
	background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
}




.loading-wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1052;
}
.spinner {
	text-align: center;
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 80px);
    background: #fff;
    padding: 30px 50px;
    border-radius: 4px;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #f4623a;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.table thead th {
    background: rgba(33, 150, 243, 0.13);
}
.table td, .table th {
 	padding: .4rem;
    font-size: 12px;
}
tr.selected {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    color: #fff;
}
tr.selected td {
    border: 0;
}


.card-header .input-group-text, .card-header .form-control, .card-header .btn {
    font-size: 14px;
    padding: 2px 6px;
}
.cmpy-filter .form-control {
    width: 200px;
    display: inline-block;
}
label.card-header-text {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}
.card-header{
    /* background: linear-gradient(45deg, #c4e3fc, #673ab747); */
	    padding: .5rem 1rem;
}
.card-body {
    padding: 0px;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0px solid rgba(0,0,0,.125);
}

#printer{
	width: 300px;
}
#searchResults{
	display: none;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    color: #495057;
    background-color: #fff;
    border-color: #fbc2b3;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(244,98,58,.25);
    box-shadow: 0 0 0 0.2rem rgba(244,98,58,.25);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: rgba(244, 98, 59, 0.2);
    border: 1px solid rgba(244, 98, 59, 0.3);
}
.select2-selection--multiple .select2-results__option[aria-selected=true] { 
	display: none;
}
.select2-container--default .select2-selection--single{
	height: calc(1.5em + .75rem + 2px);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
.tag-results-wrapper {
    max-height: calc(100vh - 481px);
    overflow: auto;
}
.preview {
    padding: 2px 4px;
    color: #f4623a;
    cursor: pointer;
	width: 26px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.fa.edit-pwc, .fa.delete-pwc {
    font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.pwc-img-preview .img-thumbnail {
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.pwc-img-preview .img-thumbnail img {
    width: 75px;
    height: 75px;
}
.img-responsive{
	max-width: 100%;
}
#pwcTbody td {
    vertical-align: middle;
}
.footer-logo {
    max-height: 35px;
}

.cursor-pointer
{
	cursor:pointer;
}

.click-app
{
	margin-top: -1px;
    font-size: 20px;
    cursor:pointer;
}

.click-app-back, .back-btn
{
	position: absolute;
    font-size: 24px;
    cursor:pointer;
}
.display-block{
	display: block;
}
#allDataTbl .form-control {
    width: 90px;
    display: none;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    font-size:14px !important;
}
#allDataTbl .update-shift, #allDataTbl .cancel-edit{
	display: none;
}
#allDataTbl .end-dt span, #allDataTbl .end-tm span{
	padding: 6px;
    display: inline-block;
}

#allDataTbl, #dataTbl
{
	font-size:14px !important;
}

.table td, .table th {
    vertical-align: middle !important;
}


#allDataTbl td.start-tm .form-control{
	width: 55px;
}

#allDataTbl td.end-tm .form-control{
	width: 55px;
}

#allDataTbl td.shift-no .form-control{
	width: 53px;
}

.pl-15, .px-15 {
    padding-left: 15rem!important;
}

.pr-15, .px-15 {
    padding-right: 15rem!important;
}

#tableHead1, #tableHead2
{
	max-height: calc(100vh - 417px);
}

#dataTblDetail > tbody > tr .form-control
{
    height: 30px;
}

.modal-width-50 {
	max-width: 50%;
}

.modal-width-40 {
	max-width: 40%;
}

.modal-width-30 {
	max-width: 30%;
}

hr {
    margin-top: 15px; 
    margin-bottom: 15px; 
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.input-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.input-group-prepend {
	margin-right: -1px;
}

.input-group-append, .input-group-prepend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-group>.input-group-append:last-child>.btn:not (:last-child ):not
	 (.dropdown-toggle ), .input-group>.input-group-append:last-child>.input-group-text:not
	 (:last-child ), .input-group>.input-group-append:not (:last-child )>.btn,
	.input-group>.input-group-append:not (:last-child )>.input-group-text,
	.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	 background-color: #fff;
	border: 0px solid #e1e1e1; 
	border-radius: .25rem;
	font-weight: 600
}
.input-group>.input-group-append>.input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.edit-approve-form .input-group-text.col1 {
	min-width: 140px;
}

.edit-approve-form .input-group-text.col2 {
	min-width: 143px;
}

.edit-approve-form .input-group-text.col3 {
	min-width: 70px;
}

.edit-approve-form .input-group-text.ext-cert {
	min-width: 124px;
}

.edit-approve-form .input-group-text, .edit-approve-form .input-group-text-static {
	min-width: 116px;
	font-size: 15px;
	padding: 5px 8px;
}

.input-group-text-static {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	border-radius: .25rem;
	font-weight: 600
}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    border: 1px solid lightgray;

}


.notify{  
  position:absolute;
  top:0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgba(0,0,0,.6);
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
  z-index: 2000;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  
}

.active-alert{  
  height:58px;
}


.ml-10, .mx-10 {
    margin-left: 10rem!important;
}

.btn {
	font-size:14px;

	}
	
.modal-header
{
	background: #31313136;
}

.form-control {
	
	border-radius: 4px !important;
}


.modal-dialog-slideout {
	min-height: 100%;
	margin: 0 0 0 auto;
	background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
	-webkit-transform: translate(100%, 0) scale(1);
	transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	display: grid;
	align-items: stretch;
	-webkit-box-align: stretch;
	height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
	border: 0;
}

/* .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer
	{
	height: 69px;
	display: block;
} */
.modal-dialog-slideout .modal-header h5 {
	float: left;
}

.modal.fade .modal-dialog {
	transition: transform 1s ease;
}

.div-size
{
	border: 1px solid #f3f3f3;
	height:200px;
}

.bg-blue
{
	background-color:#edededc4;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.check-position
{
	float: right;
    margin-top: 8px;
}


.text-info {
    color: #404040!important;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}


.text-cstm-dark {
    color: #6a6a6a!important;
}

.col-auto-ord
{
	padding-right: 4px;
    padding-left: 4px;
}

.col-1-size
{
	width: 140px;
}


.onoffswitch {
	position: relative;
	width: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #eaeaea;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 15px;
	padding: 0;
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "";
	padding-left: 7px;
	background-color: #007BFF;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "";
	padding-right: 7px;
	background-color: #cccccc;
	color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 13px;
	margin: 3px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 12px;
	border: 2px solid #aeaeae;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	width: 15px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.onoffswitch-inner.user-status-type:before {
	content: "Yes";
}

.onoffswitch-inner.user-status-type:after {
	content: "No";
}

.user-active-inactive-wrapper .onoffswitch {
	width: 60px;
}

.user-active-inactive-wrapper .onoffswitch-label {
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	right: 35px;
	margin: 5px;
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-inner:after {
	background-color: #b1b1b1;
}

.table-bordered-bottom
{
	border-bottom: 1px solid #dee2e6;
}